In [1]:
import pandas as pd

In [2]:
folder = r'C:/Users/e3plfmen/Downloads/Sea Bright to Manansquan'
file = r'des_s2.csv'

full_path = rf'{folder}/{file}'

In [3]:
inventory_df = pd.read_csv(full_path)

In [23]:
columns = ['DEType', 'FFEMin', 'FFEML', 'FFEMax']

In [24]:
inventory_df[columns].describe()

            FFEMin       FFEML      FFEMax
count  3691.000000  3691.00000  3691.00000
mean     13.632707    14.70184    15.76819
std       4.192130     4.48004     4.92470
min       3.570000     4.17000     4.42000
25%      10.910000    11.78000    12.55500
50%      13.860000    14.74000    15.65000
75%      16.730000    17.87000    18.90000
max      26.150000    30.15000    35.55000

In [27]:
inventory_df[columns].groupby(['DEType']).std()

          FFEMin     FFEML    FFEMax
DEType
COMM    3.879396  5.001207  6.464808
GARAGE  4.253470  4.325734  4.428787
GAZEBO  4.981813  6.373812  7.946338
GOV     3.486036  3.839590  4.193143
MFR1    3.443639  4.413904  5.702104
MFR2    3.171587  3.373995  3.732703
MFR3    2.776119  3.197095  3.851913
SFR1B   3.541074  3.546318  3.555128
SFR1NB  4.280359  4.556161  4.980131
SFR2NB  4.442948  4.791095  5.336791

In [28]:
inventory_df[columns].groupby(['DEType']).std().describe()

          FFEMin      FFEML     FFEMax
count  10.000000  10.000000  10.000000
mean    3.825644   4.341891   5.019185
std     0.665166   0.939809   1.391193
min     2.776119   3.197095   3.555128
25%     3.454238   3.619636   3.937221
50%     3.710235   4.369819   4.704459
75%     4.273637   4.732361   5.610776
max     4.981813   6.373812   7.946338